html, body{
    margin: 0;
    height: 100%;
}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */

.sidebar{
    background-color:black;
    width: 120px;
    height: 100%;;
    margin-bottom: 5px;
    margin-left: -5px;
    margin-top: 5px;
    color: white;
    
    border-radius: 5px;
    /* pxالعرض هنا يجب ان يكون 120 */
}

.header{
    background-color: blue;
    height: 80px;
    margin-left: 120px;
    margin-top: -840px;
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 5px;

    /* pxالطول هنا يجب ان يكون 80 */
}

.main{
    background-color: cyan;
    margin-left: 120px;
    padding: 10px;
    height: 100%;
    margin-bottom: 5px;


    border-radius: 5px;
}

a{
    color: darkgray;
text-decoration:none
    /* اجعل شكل اللنك من غير خط اسفل الكلام */
}

/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */



h1{
    margin: 0;
    margin-right: 5px;
    display: inline;
    text-align: center;
}

h2{
    margin: 0;
    margin-left: 5px;
}

.social{
    color: white;
}
a:hover{color: white;}

.c{
    text-align: center;
display: inline}

